---
import Header from "@/components/Header.astro";
import Layout from "../layouts/Layout.astro";
import "@/styles/globals.css";
import MeetAdam from "@/components/MeetAdam.astro";
---

<Layout title="Frontend Mentor | Single-page developer portfolio">
  <Header />
  <main>
    <MeetAdam />
  </main>
</Layout>

<style></style>
